/* * {
  border: 1px solid black;
} */

#container {
  float: left;
  margin: 1%;
}

.col {
  float: left;
  margin: 2%;
  margin-bottom: 0;
  border: blue;
  width: 46%;
}

.one {
  background-color: red;
}

.two {
  background-color: blue;
}

/*float left test*/
#floatLeft {
  float: left;
  background-color: green;
  width: 46%;
  margin: 2%;
}

#theTestButton {
  float: left;
  position: absolute;
}

/* media queries */
/* max-width 600px= up until this point do the following */

@media screen and (max-width: 600px) {
  .col {
    float: none;
    margin: 0;
    width: 100%;
    background-color: pink;
  }
}
